@use 'styles/fonts' as *;
@use 'styles/variables' as *;

:root {
  --primary-color: #ffffff;
  --primary-light-color: #f8fafc;
  --primary-dark-color: #e2e8f0;

  --secondary-color: #ffb3c1;
  --secondary-light-color: #ffc2d1;

  --accent-color: #ff4d6d;

  --main-text-color: #0f172a;
  --main-light-text-color: #64748b;

  --border-color: #878b91;

  --main-xsm-font-size: #{$font-size-xsm};
  --main-sm-font-size: #{$font-size-sm};
  --main-md-font-size: #{$font-size-md};
  --main-lg-font-size: #{$font-size-lg};
  --main-xl-font-size: #{$font-size-xl};
  --main-xxl-font-size: #{$font-size-xxl};
}
