@layer section {
  .WorksSct {
    display: flex;
    gap: 24px;
    width: 100%;
    flex-flow: wrap;
    justify-content: space-between;

    .detailBtn {
      width: 100%;
    }
  }

  @media screen and (max-width: 992px) {
    .WorksSct {
      align-items: flex-start;
      justify-content: center;
    }
  }
}
