@layer section {
  .Header {
    background-color: var(--primary-dark-color);
    height: 64px;
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 3em;
    color: var(--main-text-color);

    .inner {
      max-width: 80em;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .nav {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 24px;
    }
  }
}
