@use 'styles/variables' as *;

@layer section {
  .MainPage {
    padding: 4em 3em;
    max-width: 80em;
    margin: 0 auto;
    display: grid;
    gap: 6em;
    min-height: 100%;

    @media screen and (max-width: $lg) {
      padding: 3em 2em;
    }
  }
}
