@use 'styles/variables' as *;

@layer component {
  .Footer {
    background-color: var(--primary-dark-color);
    min-height: 100px;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
    border-top: 1px solid var(--border-color);
    padding: 2.5em 0 3.8em;
    color: var(--main-light-text-color);

    .navList {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      justify-content: center;
      gap: 12px;

      @media screen and (min-width: $lg) {
        flex-direction: row;
        gap: 2.4em;
      }

      .link {
        font-size: var(--main-sm-font-size);
      }
    }
  }
}
