@layer component {
  .ArtCart {
    max-width: 340px;
    min-width: 250px;
    background-color: var(--primary-color);
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    overflow: hidden;
    border: 1px solid var(--secondary-color);
    max-height: 650px;
    flex-shrink: 1;

    &:hover {
      img {
        transform: scale(1.1);
        transition: all 0.2s ease-in-out;
      }
    }
  }
}
