@layer section {
  .DescriptionSct {
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: flex-start;
    max-width: 600px;
    text-wrap: balance;

    gap: 12px;

    .subTitle {
      font-size: 18px;
      color: var(--main-text-color);
    }

    .title {
      font-size: 72px;
      color: var(--main-text-color);
    }

    .description {
      color: var(--main-light-text-color);
      font-size: 18px;
    }

    .actions {
      display: flex;
      gap: 12px;
    }
  }
}
